In [1]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from mysql-connector-python) (4.21.12)

In [3]:
import mysql.connector as connector

connection = connector.connect(user = "user1", password = "password1", db="LittleLemonDB")

In [4]:
cursor = connection.cursor()

show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

results = cursor.fetchall()

print(results)

[('Bookings',), ('Customers',), ('Employees',), ('Menu',), ('MenuItems',), ('OrderDeliveryStatus',), ('Orders',), ('ordersview',)]

In [6]:
##NOTE THAT QUERY MODIFIED TO 20 AS 60 RETURNS NOTHING!

promotional_campaign_query = """
SELECT DISTINCT CONCAT(Customers.FirstName, ' ', Customers.LastName) AS FullName, Customers.ContactNumber, Customers.email FROM
Customers INNER JOIN Bookings ON Customers.CustomerID = Bookings.CustomerID
WHERE Bookings.BookingID IN (
	SELECT Orders.BookingID FROM
	Orders 
	INNER JOIN OrderDeliveryStatus ON Orders.OrderID = OrderDeliveryStatus.OrderID
	INNER JOIN Menu on OrderDeliveryStatus.MenuID = Menu.MenuID
	GROUP BY Orders.OrderID
	HAVING SUM(Menu.Cost) >20);
 """

cursor.execute(promotional_campaign_query)

results = cursor.fetchall()

for result in results:
    print(result)

('Melisse Southeran', 1234567895, 'email@email.com')
('Felix Ouver', 1234567896, 'email@email.com')
('Norby Foord', 1234567898, 'email@email.com')